body {
  background-color: rgb(117, 117, 117);
  display: flex grid;
  
  justify-content: center;
  place-items: center;
}
#head{
  text-align: center;
  font-size: 3rem;
  /*Adding  a background color to the header*/

  background-image: linear-gradient(45deg, #f3626b, #2f48ad, #a25bf2, #a58420);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: head 3s ease-in-out infinite
}
@keyframes head {
  0% {
     filter: hue-rotate(0deg);
  }
  100% {
     filter: hue-rotate(360deg);
  }
}
#head2{
  text-align: center;
  font-size: 1.5rem;

  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 10px cyan,
  0px  0px 20px cyan,
  0px 0px 40px cyan,
  0px 0px 80px cyan;
  


}
#parent {
  display: flex;
  flex-direction: column;
 
  flex-wrap: wrap;
  margin: 1.5rem;
  background-color: rgb(8, 191, 191);
  width: 650px;
  height: 650px;

  border: 2px solid white ;
  backdrop-filter: blur(10px);
  background: rgb(73, 179, 198);
}

#child {

  filter: drop-shadow(10px);

  box-shadow: 10px 20px 20px rgb(96, 96, 96);

  justify-content: center;
  display: flex;

  background-color: salmon;
  width: 50%;
  height: 50%;
  transition: transform 1s ease-in-out;
}
#child2 {

  filter: drop-shadow(10px);

  box-shadow: 10px 20px 20px rgb(96, 96, 96);

  justify-content: center;
  display: flex;

  background-color: #1fc1a3;
  width: 50%;
  height: 50%;

  transition: transform 1s ease-in-out;
}
#child3 {

  filter: drop-shadow(10px);

  box-shadow: 10px 20px 20px rgb(96, 96, 96);

  justify-content: center;
  display: flex;

  background-color: #b11fc1;
  width: 50%;
  height: 50%;

  transition: transform 1s ease-in-out;
}
#child4 {

  filter: drop-shadow(10px);

  box-shadow: 10px 20px 20px rgb(96, 96, 96);

  justify-content: center;
  display: flex;

  background-color: #c11f50;
  width: 50%;
  height: 50%;

  transition: transform 1s ease-in-out;
}

#box {
  font-family: Impact, "Haettenschweiler", "Arial Narrow Bold", sans-serif;
  font-size: 6rem;
  -webkit-filter: url(#box);
  filter: url(#box);
}
#box2 {
  font-family: Impact, "Haettenschweiler", "Arial Narrow Bold", sans-serif;
  font-size: 6rem;
  -webkit-filter: url(#box2);
  filter: url(#box2);
}
#box3 {
  font-family: Impact, "Haettenschweiler", "Arial Narrow Bold", sans-serif;
  font-size: 6rem;
  -webkit-filter: url(#box2);
  filter: url(#box2);
}
#box4 {
  font-family: Impact, "Haettenschweiler", "Arial Narrow Bold", sans-serif;
  font-size: 6rem;
  -webkit-filter: url(#box2);
  filter: url(#box2);
}

#parent:hover #child {
  background-color: #ac2424;
  transform: translateX(100%) translateY(100%) rotate(40deg);
  backdrop-filter: brightness(130%);
  text-shadow: 2px 2px #c1f9e7;
}

#parent:hover #child2 {
  background-color: cadetblue;
  transform: translateX(100%) translateY(-100%) rotate(60deg);
  backdrop-filter: brightness(130%);
  text-shadow: 2px 2px #c1f9e7;
}
#parent:hover #child3 {
  background-color: rgb(95, 160, 112);
  transform: translateX(-100%) translateY(100%) rotate(-40deg);
  backdrop-filter: brightness(130%);
  text-shadow: 2px 2px #c1f9e7;
}
#parent:hover #child4 {
  background-color: rgb(131, 120, 229);
  transform: translateX(-100%) translateY(-100%) rotate(-60deg);
  backdrop-filter: brightness(130%);
  text-shadow: 2px 2px #c1f9e7;
}

.container {
  margin: 1.5rem;
  position: relative;
  width: 650px;
  height: 650px;
  
  background: #adb3b0;
  transition: background-color 3s ease-in-out;
}
.card {
  
  border: 1px solid #F00;
  background-color: #FFF;
  width: 325px;
  height: 325px;
  position: absolute;
  transition: all 1.5s ease-in-out;
}
#NameBoxContainer{
  justify-content: center;
  display : flex;
  padding-top: 3em;
  font-family: Impact, "Haettenschweiler", "Arial Narrow Bold", sans-serif;
  font-size: 2.2rem;
  
}
.topLeft {
  top: 0;
  left: 0;
}

.bottomRight {
  top: 325px;
  left: 325px;
  rotate:45deg;
}

.container:hover {
  background-color:rgb(117, 117, 117);
  transition-duration:  3s ;

}