#parent {
  margin: 1.5rem;
  background-color: rgb(8, 191, 191);
  width: 650px;
  height: 650px;
}
#child {
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: drop-shadow(10px);

  box-shadow: 10px 20px 20px rgb(96, 96, 96);

  justify-content: center;
  display: flex;

  background-color: salmon;
  width: 50%;
  height: 50%;
  transition: transform 1s ease-in-out;
}
#box {
  font-family: Impact, "Haettenschweiler", "Arial Narrow Bold", sans-serif;
  font-size: 6rem;
  -webkit-filter: url(#box);
  filter: url(#box);

}
#child2
{

    justify-content: center;
    display: flex;

    background-color: #1fc1a3;
    width: 50%;
    height: 50%;
    
    transition: transform 1s ease-in-out;

}

#parent:hover #child {
  background-color: #ac2424;
  transform: translateX(100%) translateY(100%) rotate(40deg);
  backdrop-filter: brightness(150%);
  text-shadow: 2px 2px #e6c4c4;
}

#parent:hover #child2{
    background-color: cadetblue;
    transform: translateX(-100%) translateY(-100%)  rotate(40deg);

}